aenum==3.1.16
aiohttp==3.12.15
aiosignal==1.4.0
app-common-python==0.2.8
asn1crypto==1.5.1
async-timeout<5.0.2
attrs==25.3.0
awswrangler==3.12.1
backoff==2.2.1
beautifulsoup4==4.13.4
boto3==1.40.6
botocore==1.40.6
certifi==2025.8.3
charset-normalizer==3.4.3
decorator==5.2.1
et-xmlfile==2.0.0
frozenlist==1.7.0
greenlet==3.2.4
gremlinpython==3.7.4
idna==3.10
isodate==0.7.2
jmespath==1.0.1
jsonpath-ng==1.7.0
lxml==6.0.0
multidict==6.6.3
nest-asyncio==1.6.0
numpy==2.3.2
openpyxl==3.1.5
opensearch-py==3.0.0
packaging==25.0
pandas==2.3.1
pg8000==1.31.4
ply==3.11
progressbar2==4.5.0
psycopg2==2.9.10
pyarrow<21.0.1
PyMySQL==1.1.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytz==2025.2
PyYAML==6.0.2
rdflib==7.1.4
redshift-connector==2.1.8
requests==2.32.4
requests-aws4auth==1.3.1
s3transfer==0.13.1
scramp==1.4.6
six==1.17.0
soupsieve==2.7
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.42
urllib3==2.5.0
yarl==1.20.1
