AWS_ENDPOINT: 'http://localhost:9000'
AWS_ACCESS_KEY_ID: 'floorist'
AWS_SECRET_ACCESS_KEY: 'floorist'
AWS_REGION: 'us-east-1'
AWS_BUCKET: 'floorist'
POSTGRES_SERVICE_HOST: 'localhost'
POSTGRESQL_USER: 'floorist'
POSTGRESQL_PASSWORD: 'floorist'
POSTGRESQL_DATABASE: 'floorist'
